body{
    background-color: #F5F1E8;
}
h1{
    text-align: center;
    font-family: Georgia, serif;
}
.b1{
    display: inline-block;
    border:1.4px solid rgb(36, 34, 34);
    margin:20px;
    line-height: 0;
}
.description{
    text-align: center;
    padding:10px;
    background-color: white;
    color:#292929;
    line-height: normal;
    font-family:Georgia, serif ;

}
.b1:hover{
    border-color: rgb(150, 148, 148);
    box-shadow: 10px 10px 10px rgb(150, 148, 148);
    transition: 0.3s;
}
.b1 img{
    width:200px;
    height: 200px;
    object-fit:cover;
}
